body {
    margin-top: 20px;
}

.navbar .navbar-brand {
    color: #777777;
}
.navbar .brand-name:hover {
    text-decoration: underline;
}

/* ChatBox */

.chat-list {
    overflow-y: scroll;
    height: 300px;
    word-wrap: break-word;
}

.chat-list li {
    /* Since .focus() is used to scroll to last message item,
       turn off the outline that appears by default */
    outline: none;
}

/* Animation */



/* Bootstrap overrides */

/* Turn off redundant text-shadow */
.btn kbd,
.btn .label {
    text-shadow: none;
}